@font-face {
    font-family: 'densia_sansregular';
    src: url('font/densiasans/densiasans-webfont.eot');
    src: url('font/densiasans/densiasans-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/densiasans/densiasans-webfont.woff2') format('woff2'),
         url('font/densiasans/densiasans-webfont.woff') format('woff'),
         url('font/densiasans/densiasans-webfont.ttf') format('truetype'),
         url('font/densiasans/densiasans-webfont.svg#densia_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'boogalooregular';
    src: url('font/boogaloo/boogaloo-regular-webfont.eot');
    src: url('font/boogaloo/boogaloo-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/boogaloo/boogaloo-regular-webfont.woff2') format('woff2'),
         url('font/boogaloo/boogaloo-regular-webfont.woff') format('woff'),
         url('font/boogaloo/boogaloo-regular-webfont.ttf') format('truetype'),
         url('font/boogaloo/boogaloo-regular-webfont.svg#boogalooregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'candara';
    src: url('font/candara/Candara.ttf') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;

}

body {
  font-family: 'candara';
  font-size: 20px;
  margin: 0;
  padding: 0;
}

h2 {
  padding: 0;
  margin: 0 0 10px 10px;
}

#forkme_banner {
  display: block;
  position: absolute;
  top: 0;
  right: 10px;
  z-index: 10;
  padding: 10px 50px 10px 10px;
  color: white;
  background: url("../img/blacktocat.png") #6A3 no-repeat 95% 50%;
  font-weight: 700;
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  text-decoration: none;
}

.head {
  padding: 30px 0;
  width: 960px;
  margin: auto;
}

.head h1 {
  font-weight: 200;
  font-family: Helvetica,Arial,Verdana,sans-serif;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
  text-transform: uppercase;
  color: #999;
}

.container {
  width: 960px;
  margin: auto;
}

.actions {
  margin-top: 10px;
}

.track {
  width: 100%;
  position: relative;
  padding-bottom: 80px;
}

.view-port, .track .inner {
  width: 946px;
}

.axis-y .view-port,
.axis-y .track .inner {
  width: 240px;
  height: 660px;
}


.view-port {
  overflow: hidden;
  position: relative;
}

.track .inner {
  position: relative;

  margin: auto;
  margin-bottom: 30px;
  padding: 10px;

  background: #F1F1F1;
  border-radius: 4px;
}

.track .inner h2 {
  font-weight: 200;
  /*font-family: Helvetica,Arial,Verdana,sans-serif;*/
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
  /*text-transform: uppercase;*/
  color: #999;
}

.track .inner h2:hover {
  color: #6A3;
}

.track a.prev,
.track a.next {
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -32px;
  width: 64px;
  height: 64px;
  background: url("../img/arrows.png");
  background-repeat: no-repeat;
}

.track a.prev.disabled,
.track a.next.disabled {
  display: none;
}

.track a.prev {
  left: 0;
  background-position: 0 0;
}

.track a.prev:hover {
  background-position: 0 -66px;
}

.track a.prev:active {
  background-position: 0 -132px;
}

.track a.next {
  right: 0;
  background-position: -64px 0;
}

.track a.next:hover {
  background-position: -64px -132px;
}

.track a.next:active {
  background-position: -64px -198px;
}

.slider-container {
  position: relative;
  margin: 0;
  padding: 0;

  height: 166px;
}

.slider-container.big {
  height: 288px;
}

.slider-container.huge {
  height: 432px;
}

.slider-container .item {
  position: absolute;

  width: 224px;
  height: 150px;

  margin-right: 16px;
  margin-bottom: 16px;
}

.slider-container .item img {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px solid white;
}

.slider-container.big .item,
.slider-container.big .item .img-area {
  height: 288px;
}

.slider-contaiber.huge .item {
  margin-bottom: 12px;
}

.slider-container .item p {
  padding: 0;
  margin: 0;
}

.slider-container .item.cover {
  width: 940px;
}

.slider-container .item.cover-2 {
  height: 432px;
}

.slider-container .item.cover img {
  float: left;
}

.slider-container .item.cover-2 img {
  float: none;
}

.slider-container .item.cover .img-area {
  float: right;
  margin-left: 16px;
}

.slider-container .item.cover-2 .img-area {
  float: none;
  margin-left: 0;
  margin-top: 12px;
}

.slider-container .item.cover-2 .img-area .img-block:first-child {
  margin-right: 14px;
}

.slider-container .item.cover .img-block {
  height: 128px;
}

.slider-container .item.cover-2 .img-block {
  float: left;
}

.img-block {
  margin-bottom: 16px;
}

.editorial {
  float: right;
  width: 200px;

  padding-right: 20px;
  height: 272px;
  background: white;
}

.editorial .title {
  font-size: 24px;
  margin: 20px 0 0 20px;
}

.editorial .desc {
  font-size: 14px;
  line-height: 18px;
  padding-top: 8px;
  margin-left: 20px;
}

.side-a, .side-b {
  float: left;
  width: 462px;
}

.side-a {
  margin-right: 16px;
}

.side-a > img, .side-b > img {
  width: 462px;
  height: 272px;
}

.bullet-pagination {
  width: 100%;
  text-align: center;
  margin-top: 15px;
}

.bullet {
  display: inline-block;
  background: #999;
  padding: 4px;
  border-radius: 6px;
  margin-right: 5px;
  opacity: 0.4;

  -webkit-transition: opacity 0.5s linear;
  -moz-transition: opacity 0.5s linear;
  -ms-transition: opacity 0.5s linear;
  -o-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
}

.bullet.active {
  opacity: 1;
}

.bullet:last-child {
  margin-right: 0;
}

#example-4 img {
  width: 228px;
  height: 132px;
}

.example-4 .loading {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  text-align: center;
  line-height: 140px;
  padding: 4px 0;
  z-index: 1;
}

.example-4 .loading:before {
  content: "loading...";
}

.example-4 .bullet {
  cursor: default;
}

.example-1 a.prev,
.example-1 a.next {
  margin-top: -69px;
}

.example-2 a.prev,
.example-2 a.next {
  margin-top: -58px;
}

.example-3 a.prev,
.example-3 a.next {
  margin-top: -53px;
}

.example-4 a.prev,
.example-4 a.next {
  margin-top: -68px;
}

.example-7 a.prev,
.example-7 a.next {
  margin-top: -69px;
}
/*--start-footer--*/
.footer{
  background:#16A401;
  padding: 0px 0px 60px 15px;
  position: fixed !important;
  width: 100% !important;
  bottom: 0 !important;
  height: 2% !important;
  /* margin-top: 18px; */
}
.footer-left ul{
  padding:0px;
}
.footer-left ul li{
  list-style:none;
  display:inline-block;
}
.footer-left ul li span{
  background:url(../images/footer-sprit.png) no-repeat;
  width:30px;
  height:30px;
  display:block;
  transition:0.5s all;
  -webkit-transition:0.5s all;
  -moz-transition:0.5s all;
  -o-transition:0.5s all;
  -ms-transition:0.5s all;
}
.footer-left ul li span.fb{
  background-position:0px 0px;
}
.footer-left ul li span.twit{
  background-position:-30px 0px;
}
.footer-left ul li span.in{
  background-position:-60px 0px;
}
.footer-left ul li span.fb:hover{
  background-position:0px -30px;
}
.footer-left ul li span.twit:hover{
  background-position:-30px -30px;
}
.footer-left ul li span.in:hover{
  background-position:-60px -30px;
}
.footer-right p a:hover{
  color: #fff;
  text-decoration:none;
  transition:0.5s all;
  -webkit-transition:0.5s all;
  -moz-transition:0.5s all;
  -o-transition:0.5s all;
  -ms-transition:0.5s all;
}
.footer-right p a{
  color: #000;
}
.footer-right p{
  color: #fff;
  font-size:16px;
  text-align: right;
}
.footer-main {
  margin-top: 22px;
}
/*--end-footer--*/

/*menu*/
.boton_menu {
  position: relative;
  background-color: #2FFF54;
  width: 20%;
  height: 55px;
  margin: 15px auto 0 auto;
  vertical-align: middle;
  text-align: center;
  padding: 5px;
  cursor: pointer;
  font-size: 1.25em;
  color: black;
  border-radius: 10px;
  display: inline-block;
  box-shadow: 0px 0px 12px 2px rgba(119, 119, 119, 0.75);
  -moz-box-shadow: 0px 0px 12px 2px rgba(119, 119, 119, 0.75);
  -webkit-box-shadow: 0px 0px 12px 2px rgba(119, 119, 119, 0.75);
  bottom: -65%;

}

.boton_menu:last-child{
  /*margin: 60px auto 0 auto;*/
  /*display: block;*/
  width: 30%;
}
.boton_menu_int{
  cursor: pointer;
}

div#menu_pert_int {
    background-color: #B6D7A8;
    position: relative;
    height: 100px;
    border-radius: 50%;
    width: 100px;
    float: left;
    padding-top: 0;


  position: relative;
  height: 60px;
  border-radius: 10px;
  width: 30%;
  float: left;
  padding-top: 0;
  box-shadow: 0px 0px 12px 2px rgba(119, 119, 119, 0.75);
  -moz-box-shadow: 0px 0px 12px 2px rgba(119, 119, 119, 0.75);
  -webkit-box-shadow: 0px 0px 12px 2px rgba(119, 119, 119, 0.75);
}

div#menu_basico_int {
    background-color: #B6D7A8;
    position: relative;
    height: 100px;
    border-radius: 50%;
    width: 100px;
    float: right;
    padding-top: 0;


  position: relative;
  height: 60px;
  border-radius: 10px;
  width: 30%;
  float: left;
  padding-top: 0;
  box-shadow: 0px 0px 12px 2px rgba(119, 119, 119, 0.75);
  -moz-box-shadow: 0px 0px 12px 2px rgba(119, 119, 119, 0.75);
  -webkit-box-shadow: 0px 0px 12px 2px rgba(119, 119, 119, 0.75);
}

div#menu_abrir_int {
    background-color: #B6D7A8;
    position: relative;
    height: 100px;
    border-radius: 50%;
    width: 100px;
    float: left;
    padding-top: 0;


  
  position: relative;
  height: 60px;
  border-radius: 10px;
  width: 30%;
  float: left;
  padding-top: 0;
  box-shadow: 0px 0px 12px 2px rgba(119, 119, 119, 0.75);
  -moz-box-shadow: 0px 0px 12px 2px rgba(119, 119, 119, 0.75);
  -webkit-box-shadow: 0px 0px 12px 2px rgba(119, 119, 119, 0.75);
}


.boton_menu_int span {
    margin-top: -8%;
    position: absolute;
    margin-left: 30%;
    font-size: 3.2em;
}

#redes{
  position: absolute;
  right: 20px;
  top: 35%;
}

#redes a{
  color: white;
  font-size: 1.6em;
  font-weight: normal;
}

.view-port, .track .inner, .slider-container .item.cover {
    height: 400px !important;
    padding-left: 10px;
}

.track .inner {
    position: relative;
    margin: auto;
    margin-bottom: 0 !important;
    padding: 0 !important;
    padding-top: 9px !important;
    background: #F1F1F1;
    border-radius: 4px;
}

.menu {
    height: 110px;
}

span.titulo_menu {
    left: 30px;
    position: relative;
    top: 20px;
    font-size: 22px;
}

div#regresar {
    left: 0px;
    position: relative;
    top: 60px;
    font-size: 1.2em;
    text-align: right;
    padding-right: 20px;
}

a {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}

.div_create {
    margin-top: 7px;
}

.botones div {
  display: inline-block;
  border: solid 1px black;
  background-color: #B6D7A8;
  padding: 5px 5px;
  margin: 20px 0px;
  border-radius: 6px;
  box-shadow: 0px 0px 12px 2px rgba(119, 119, 119, 0.75);
  -moz-box-shadow: 0px 0px 12px 2px rgba(119, 119, 119, 0.75);
  -webkit-box-shadow: 0px 0px 12px 2px rgba(119, 119, 119, 0.75);
  cursor: pointer;
  width: 90px;
  text-align: center;
  position: relative;
  left: 20px;
}

.botones div:last-child {
  display: inline-block;
  float: right;
  margin-right: 10px;
  position: relative;
  right: 20px;
  background-color: #B6D7A8;
}

.contact-but {
    display: inline-block;
}

.contact-but:last-child {
    display: inline-block;
    float: right;
}

input#volvert {
    width: 140px;
    position: relative;
}

input#cargart {
    left: 20px;
    position: relative;
}

.act_detail{
  margin: 25px auto;
  border: solid 1px;
  padding: 0 10px 10px 5px;
  border-radius: 10px 10px;
}

.act_detail label {
    display: block;
    margin: 10px auto;
}

div#content_activities {
    margin-bottom: 45px;
}
div#separador {
    border: solid 2px #fff;
}

input.boton_agrega {
    font-size: 0.8em;
    padding: 0;
    float: right;
    position: relative;
    top: -40px;
    margin: 0 5px 0 0px;
    width: 5%;
}

input.boton_remover {
    font-size: 1.5em;
    padding: 0;
    float: right;
    position: relative;
    top: -40px;
    margin: 0 5px 0 0px;
}

.borrar_act {
    float: right;
    /* margin-right: 0%; */
    background-color: red;
    color: white;
    height: 25px;
    width: 25px;
    text-align: center;
    border-radius: 50%;
}

#header{
  text-align: center; 
  font-size: 2.5em; 
  color: white;
  background-color: #16A401; 
  font-weight: bold !important;
}

#header span{
  display: block;
  padding-top: 8px;
  position: relative;
}

#grafica{
  overflow-x: auto;
  overflow-y: auto;
}

/*.menu:nth-child(2) > span:nth-last-of-type(1){
    position: relative;
    left: 0%;
    float: right;
}*/

.footer{
  font-size: 1.3em !important;
  color: white;
}

#content_dialog
{
  padding: 0 15px;
}

div#btn_omitir {
    position: absolute;
    top: 1%;
    right: 4%;
    font-size: 1.2em;
}

div#btn_omitir a{
    color:white;
    font-size: 1.5em;
}

.footer-right
{
  display:none;
}



/*jquery-ui*/

div.ui-dialog-titlebar.ui-widget-header.ui-corner-all.ui-helper-clearfix.ui-draggable-handle > button {
    display: none;
}

span#ui-id-1 {
    margin-left: 20px;
}

div.ui-dialog-buttonpane.ui-widget-content.ui-helper-clearfix > div > button {
    margin: 5px 0px 5px 35%;
}

div#dialog-message {
    padding-left: 10px;
}

table label {
    width: 125px;
}